<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Selenium Framework">
    <test name="Selenium Framework" group-by-instances="true">
        <classes>
            <class name="BaseCode.BaseCode"/>
            <class name="testcase.LoginWithValidCredentials">
                <methods>
                    <include name="ValidCredentials"/>
                </methods>
            </class>
            <class name="testcase.LoginWithInvalidCredential">
                <methods>
                    <include name="InValidCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

